{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-toml"],
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.json5"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
