#:schema https://docs.jj-vcs.dev/latest/config-schema.json
# vim: ft=toml

# Jujutsu (jj) Configuration
# Managed by Chezmoi - edit source in dotfiles/home/dot_config/jj/
# Static config lives in conf.d/*.toml

[user]
name = "{{ .git.name }}"
email = "{{ .git.email }}"

[signing]
backend = "ssh"
behavior = "drop"
key = "{{ .git.signingkey }}"

[git]
sign-on-push = true

[templates]
git_push_bookmark = '"martinemde/" ++ change_id.short()'
