# ============================================================================
# Zsh Aliases
# ============================================================================

alias -s md="glow --pager" # Suffix aliases - automatically open files by extension
alias ...="cd .. ; cd ..; eza --icons"
alias ..="cd ..; eza --icons"
alias b='bundle exec'
alias cat='bat'
alias cz='chezmoi'
alias cza='chezmoi apply'
alias dc="docker compose"
alias df='duf'
alias dircolors='gdircolors'
alias g='git'
alias git-https='git remote set-url origin "$(git remote get-url origin | sed -E '\''s,^git@([^:]*):/*(.*)$,https://\1/\2,'\'')"'
alias git-ssh='git remote set-url origin "$(git remote get-url origin | sed -E '\''s,^https://([^/]*)/(.*)$,git@\1:\2,'\'')"'
alias histogram='sort | uniq -c | sort -r'
alias j='jj'
alias l='eza --icons --group-directories-first'
alias ls='eza --icons --group-directories-first'
alias la='eza -a --icons --group-directories-first'
alias ll='eza -la --icons --color-scale --group-directories-first'
alias less=bat
alias make='colormake'
alias man='batman'
alias mux='tmux-named'
alias rc='bin/rails console'
alias tf='terraform'
alias top='htop'
alias tree='eza --icons --tree'
alias vim='nvim'

{{ if eq .chezmoi.os "darwin" -}}
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
{{ end -}}

{{- if lookPath "bunx" }}
alias codex='bunx -y @openai/codex'
{{- end }}

# vi: ft=zsh
