# I gave up not writing secrets down to my home dir in some way for these ones
# Every alternative for openrouter that I tried prompts me constantly
# It's so annoying and it overwhelms any judgement about when I should auth.
{{- if eq .hosttype "home" -}}
export OPENROUTER_API_KEY={{onepasswordRead "op://Private/OpenRouter/minuet-api-token"}}
{{- end -}}
